
body {
    background-color: white;
    text-align: center;
    width: 250px;
    padding-left: 250px;
}

h1 {
    color: white;
    background-color: rgb(77, 73, 73);
    text-align: center;
}

.cardContent{
    font-style: italic;
    text-align: center;
    text-align: justify;
}

.footer{
    background-color: rgb(243, 225, 228);
    text-align: center;
}
