/*estilos base son pantallas de 600px para abajo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #292d33;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #292d33;
    
    color: white;
    padding: 20px 10px;
    /*position: sticky; donde quiero que se ponga*/
    position: fixed; /*si utilizamos el fijo hay que decirle como debe ponerse*/
    width: 100%;  /*para tomar el ancho de la pantalla en cualquier tamaño en la que este*/
    top: 0;
}

/*barra superior de navegación
position: fixed, pone elemento fijo en la pantalla
top: 0 deja el elemento pegado en el tope suprior de la pantalla
.topNav {}*/

.menuNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menuNav li{
    list-style: none;
}

.menuNav a{
    color: white;
    text-decoration: none;
}

.container{
    width: 90%;  /*% de su elemento padre, body*/
    /*border: 1px solid;
    /*para centrar texto pregunta examen jaja*/
    /*debe ser menor a su papá*/
    /*centramos usando margenes laterales*/
    margin: 0 auto; /*1°representa arriba-abajo; 2°representa izq y der Y es automático*/
}

.cajaFlex{
    display: flex;
    flex-direction: column;
}

.articulo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 8px; 
    margin: 20px 0;
}
/*el conteido se puede hacer de 2 formas piniendo márgenes o darle formato al texto */

.mainContainer{
    margin-top: 45px; /*puede ser solo esta*/
    padding: 10px;
    /*position: relative;
    top: 55px; o estas 2 juntas*/
    /*medida especial(dinámica)*/
    height: 130vh; /*es el % de la pantalla del FOOTER*/
}

.textoCentrado{
    text-align: center;
}

.contenedorImagen{
    width: 90%;
    padding: 10px;
}

.imagenArticle{
    width: 100%;
/*    margin: 0 auto;*/
}

.contenedorFechas span{
    color: #cdc9c9;
}

.contenedorTitulo{
    padding: 8px;
}

footer{
    padding: 16px;
    background-color: rgb(140, 136, 136);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    /*forma más fácil de pasarlo hasta abajo
    position: fixed;
    bottom: 0;
    width: 100%;*/
    /*medidas dinámicas: se puso en el main conteiner*/
}

/*media query o breackpoint para tablets*/
/*tablets en vertical (portrait) y celulares más grandes, 600px en adelante*/
@media screen and (min-width: 600px){
    .cajaFlex{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }   
    .articulo{
        width: 40%;
        margin: 10px 20px;
    }
}

/*laptops/monitores pequeñas, 992px en adelante*/
@media screen and (min-width: 992px) {
    .articulo{
        width: 25%;
    }    
}

/*formas de poner footer:
-en medidas dinámicas
- con position, bottom y width*/

